.contactHeader {
    border-bottom: 3px dotted;
    color: darkblue;
    font-family: 'Barriecito', cursive;
    margin: 0 5rem 0 5rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

.GH {
    height: 100px;
}

.LI {
    height: 60px;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    transform: translateX(-50%);
}

.contactGif {
    border: 3px solid darkblue;
    margin-left: 50%;
    margin-top: 3rem;
    transform: translateX(-50%);
}

