@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Gloria+Hallelujah');

nav {
  background-color: darkblue;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  opacity: 0.8;
  padding: 2rem 0.5rem 2rem 0.5rem;
}

.link {
  color: snow;
  font-family: 'Barriecito', cursive;
  font-size: 2rem;
  margin: 0.5rem;
}

.link:hover {
  color: skyblue;
}

.appPic {
  height: 100px;
  left: 1rem;
  position: absolute;
  top: 1rem;
}

.rotate {
  animation-direction: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: spin;
  height: 100px;
  left: 1rem;
  position: absolute;
  top: 1rem;
  transform: rotate(359deg);
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}