body {
    background-color: snow;
}

.aboutHeader {
    border-bottom: 3px dotted;
    color: darkblue;
    font-family: 'Barriecito', cursive;
    margin: 0 5rem 0 5rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

.aboutPara {
    align-items: center;
    color: darkblue;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.4rem;
    margin-left: 1rem;
    padding: 1rem;
    text-align: center;
}

.aboutArea {
    display: flex;
    flex-direction: row;
}

.aboutPic {
    border: 3px solid darkblue;
    height: 250px;
    margin: 2rem 3rem 2rem 1rem;
}